{% extends "base.html" %}


{% block posts %}

<h2 class="text-center">Blog posts</h2>

{% for post in posts %}
<div class="container">
    <hr>
    <blockquote class="clearfix">
        <div class="post-title pull-left">
            <u><h2>{{post.title}}</h2></u>
            <footer>Written by<cite title="Source Title">{{post.author}}</cite></footer>
        </div>

        <div class="pull-right">
            <p>{{post.created | datetimeformat }}</p>
            <span>Likes {{post.likes}}</span>
            {% if user.username != post.author %}
                <a class="btn btn-success" href="/like/{{post.key().id()}}">Like</a>
            {% elif user.username == post.author %}
                <a class="btn btn-success disabled" href="/like/{{post.key().id()}}">Like</a>
            {% endif %}

            {% if user.username in post.liked_by %}
                <p>one Like allowed</p>
            {% endif %}
        </div>
    </blockquote>
    <div class="post-body"><p>{{post.content| letitpass | safe }}</p></div>


    <div>
        <a class="btn btn-danger" href="/delete/{{post.key().id()}}">delete</a>
        <a class="btn btn-warning" href="/edit/{{post.key().id()}}">edit</a>
        {% if user.username != post.author %}
            <a class="btn btn-info" href="/comment/{{post.key().id()}}">comment</a>
        {% else %}
        <a class="btn btn-info disabled" a="/comment/{{post.key().id()}}">comment</a>
        <p>You cannot comment on your own post</p>
        {% endif %}
        {{error_comment1}}
    </div>

    <div id="comments">
        <h3 class="text-center">Comments</h3>
        {% for comment in post.comments %}
        <div class="comment clearfix">
            <p class="cmnt-content pull-left">{{comment.comment | letitpass | safe}}</p>
            <div class="pull-right">
                <p class="pull-right">Commented by: {{comment.commented_by}}</p>
                <br>
                <a class="btn btn-info" href="updatecomment/{{comment.key().id()}}">Update comment</a>
                <br>
                <a class="btn btn-danger" href="/deletecomment/{{comment.key().id()}}">Delete Comment</a>
            </div>

        </div>
        <hr>
        {% endfor %}
    </div>

    <hr>
</div>
{% endfor %}
{% endblock %}
